<div class="nw-attd">
    <h3>Edit Project</h3>
</div>

<%= render 'form', project: @project %>

<div class="btn btn-lg btn-primary btn-block" >
<%= link_to 'Back', projects_path, class: "btn_edit_back" %>
</div>