<div class="nw-attd">
    <h5>Editing Project</h5>
</div>

<%= render 'form', project: @project %>

<div class="btn btn-lg btn-primary btn-block" >
<%= link_to 'Show', @project, class: "btn_edit_back" %> |
<%= link_to 'Back', projects_path, class: "btn_edit_back" %>
</div>