/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require bootstrap-datepicker
 *= require font-awesome
 *= require jquery-ui
 */

 @import "bootstrap";
 @import "bootstrap-datepicker3";
 @import "font-awesome";
 @font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?iefix') format('eot'),
         url('/assets/glyphicons-halflings-regular.woff') format('woff'),
         url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
         url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body{
    /*background-image: url('../assets/back-image5.jpg');*/
    background-image: url('../assets/back-image6.jpeg');
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-attachment: fixed;  
    background-size: cover;


}
 #raya-logo {
    width: 3em;
    object-fit: cover;
    -webkit-animation: fade-in 3s;
    animation: fade-in 3s;
}


.bg-dark {
    background: linear-gradient(
90deg
, rgb(66, 94, 217) 0.01%, rgb(39, 41, 120) 100.01%);
}

select#employee_timesheet_project_name {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
//login page css start here 
.col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    margin: 0px auto;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

input#sign_up_btn {
    margin-top: 25px;
}


input#user_status {
    margin: 0;
    border-top-left-radius: 0px;
    padding-top: 0px;
    margin-top: 25px;
}

.form-signup input[type="password"] {
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
input#user_email {
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
    margin-top: 12px;
}

input#user_password {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
}

button#sign_btn {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
}

a#new_sign_id {
    padding-left: 3px;
    margin-left: 8px;
}

a#forget_password{
    padding-left: 3px;
    margin-left: 8px;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input.btn.btn-lg.btn-primary.btn-block {
    margin-bottom: 20px;
}

strong.sub_id {
    padding-left: 23px;
}

/* Signup Page start here */
input#user_first_name {
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}

input#user_last_name{
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}


input#user_phone{
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}

input#user_role{
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}

input#user_password_confirmation{
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}

input#user_status{
    width: 90%;
    margin-bottom: 5px;
    border-bottom-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
    margin-left: 10px;
    margin-right: 0px auto;
    padding-left: 10px;
    /* margin-left: 17px; */
}

input#sign_up_btn {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
}

input#forget_password_btn {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
}
/* Signup Page end here */

input#user_first_name {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.5);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

form.new_form_emp {
    width: 90%;
    padding-left: 10px;
    margin-left: 10px;
    //background-color: #f7f7f7;
    // box-shadow: 0px 2px 50px rgb(0 0 0 / 50%);
}
//login page css end here 

//from for attendance 

// div#attendance_form {
//     border: 2px solid #425ed9;
//     padding-top: 10px;
//     width: 80%;
//     margin-left: 15%;
// }

div#attendance_form {
    border: 2px solid #425ed9;
    padding-top: 10px;
    width: 45%;
    margin-left: 15%;
    box-shadow: 5px 0px 20px 0px;
}

div#attendance-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-left: 0%;
}

div#btn_attendance {
    width: 80%;
    margin-left: 4%;
    margin-bottom: 1%;
}

input#create_attendance_btn {
    /*width: 43%;*/
    /*width: 73%;*/
    color: #fff;
    margin-left: 0%;
    margin-top: 1%;
    height: 47px;
    width: 35%;
    background-color: #007bff;
    border-color: #007bff;
}

input#create_timesheet_new_btn {
    color: #fff;
    margin-left: 0%;
    margin-top: 1%;
    height: 47px;
    width: 45%;
    background-color: #007bff;
    border-color: #007bff;
}


button#cancel_timesheet_btn {
    color: #fff;
    margin-left: 50%;
    margin-top: 1%;
    height: 47px;
    width: 30%;
    background-color: #6c757d;
    border-color: #6c757d;
}


button#cancel_attendance_btn {
    color: #fff;
    margin-left: 50%;
    margin-top: 1%;
    height: 47px;
    width: 30%;
    background-color: #6c757d;
    border-color: #6c757d;
}       

tr.attendance_tble {
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    color: #fff;
}

a.btn.btn-small.btn-new-attendance {
    color: #fff;
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    border-color: #28a745;
    margin-left: 80%;
}

a.btn.btn-small.btn-back-attendance {
    color: #fff;
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    border-color: #28a745;
}


/* Project css start here */
  
div#project_form {
    border: 2px solid #425ed9;
    padding-top: 10px;
    width: 45%;
    margin-left: 15%;
    box-shadow: 5px 0px 20px 0px;
}

div#project-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-left: 0%;
}

div#btn_project {
    width: 80%;
    margin-left: 4%;
    margin-bottom: 1%;
}

input#create_project_btn {
    /*width: 43%;*/
    width: 60%;
}

tr.project_tble {
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    color: #fff;
}

a.btn.btn-small.btn-new-project {
    color: #fff;
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    border-color: #28a745;
}

a.btn.btn-small.btn-back-project {
    color: #fff;
    background:linear-gradient(
        90deg
        , #425ed9 0.01%, #272978 100.01%);
    border-color: #28a745;
}
/* Project css end here */


/*Full calendar css file start here*/

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #425ed9;
    color: #fff;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #425ed9;
    border: #fff;
}

button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    background-color: #425ed9;
    border: #fff;
}

button.fc-today-button.fc-button.fc-button-primary {
    background-color: #425ed9;
    border: #fff;
}

button.fc-prev-button.fc-button.fc-button-primary {
    background: linear-gradient( 
                90deg
 , #425ed9 0.01%, #272978 100.01%);
}

button.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

button.fc-timeGridDay-button.fc-button.fc-button-primary {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    color: #fff;
    color: var(--fc-button-text-color,#fff);
    /* background-color: #1a252f; */
    /* background-color: var(--fc-button-active-bg-color,#1a252f); */
    border-color: #151e27;
    border-color: var(--fc-button-active-border-color,#151e27);
}

button.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

.fc .fc-button-primary:focus, .fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}
/*Full calendar css file end here*/


#calendar {
    max-width: 1100px;
    margin: 40px auto;
  }

  .btn.btn-lg.btn-primary.btn-block {
    width: 22%;
    margin-left: 15%;
    margin-top: 2%;
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

a.btn_edit_back {
    color: #fff;
}

input#employee_time_id {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
    color: #fff;
}

div#new_emp_sheet {
    width: 11%;
    margin-left: 15%;
    margin-top: 1%;
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

.nw-prjt {
    margin-left: 15%;
}

.nw-attd {
    margin-left: 15%;
    margin-top: 5%;
}

div#timesheet_new_form {
    border: 2px solid #425ed9;
    padding-top: 10px;
    width: 50%;
    height: 50;
    margin-left: 15%;
    box-shadow: 5px 0px 20px 0px;
}

input#create_timesheet_btn {
    width: 63%;
    margin-left: 24%;
    margin-top: 2%;
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

input#attachment_pdf {
    height: 100%;
}

a#project_new_btn {
    margin-left: 84%;
    margin-bottom: 1%;
}


a#policy_new_btn {
    margin-left: 80%;
    margin-bottom: 1%;
}


a#att_main_new_btn {
    margin-left: 68%;
    margin-bottom: 0%;
    margin-top: 3%;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #527394;
}

table.fc-scrollgrid.fc-scrollgrid-liquid {
    /* border: #000; */
    background-color: FloralWhite;
}

div#edit_user_form {
    border: 2px solid #425ed9;
    padding-top: 10px;
    // width: 45%;
    margin-left: 0px;
    box-shadow: 5px 0px 20px 0px;
}



/* home css start */
img.home_profile_img {
    width: 30%;
    height: 100%;
}
/* home end here */

a.profile__contact-btn.btn.btn-lg.btn-block.btn-info {
    background: linear-gradient( 
90deg
 , #425ed9 0.01%, #272978 100.01%);
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #527394;
}


body#home-bg {
    background-image: url('../assets/emp_benefit.jpeg');
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-attachment: fixed;  
    background-size: cover;
}


/* Login page radio option start here */
label.radio {
    /* border-radius: 15px; */
    /* border-color: #000; */
    border-radius: 25%/100%;
    border: 1px solid #007bff;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 10px;
}

input#user_role_madmin_editor {
    margin-right: 5px;
}
input#user_role_employee_editor {
    margin-right: 5px;
}
input#user_role_manager {
    margin-right: 5px;
}

label.checkbox_inline {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 10px;
}

span{
    font-weight: normal;
}
#session_remember_me{
  width: auto;
  margin-left: 0;
}
/* Login page radio option end here */


/* for side bar menu start here..... */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",  sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}


.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}


.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip{
    display: none; 
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

// .sidebar ul li .bx-search{
//     position: absolute;
//     z-index: 99;
//     color: fff;
//     font-size: 22px;
// }
.sidebar ul li a {
    color: #fff;
    display: flex;
    //display: inline-block;
    align-items: center;
    text-decoration: none;
    width: 95%;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #11101d;
    background: #fff;
}
.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile{
    background: #1d1b31;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details #user_side_photo_id img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
    color: #fff;
}



.sidebar.active .profile #log_out{
    left: 88%;
}

.sidebar.active .profile #log_out{
    background: none;
}

dropdown show
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
/* for side bar menu end here....... */

/* new for dashboard page start here */
.search_timesheet {
    margin-right: 25%;    
}

i#log_out {
    padding-right: 50%;
}

div#time_sheet_id {
    box-sizing: content-box;
    width: 800px;
    height: 40px;
    padding: 5px;
    border: 2px solid #c6d2d9;
    margin-left: 20%;
}

.add_project_new {
    margin-top: -5%;
    margin-left: 645px;
    padding-top: 10px;
}

input#search_id_new{
    display: block;
    width: 80%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

div#form_page_id {
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid #c6d2d9;
    margin-left: 45%;
    margin-top: 20px;
    padding-bottom: 3%;
}

input#sub_project_btn {
    margin-left: 35%;
    margin-top : 5%;
}

div#time_sheet_dataid{
    box-sizing: content-box;
    width: 800px;
    // height: 40px;
    padding: 5px;
    border: 2px solid #c6d2d9;
    margin-left: 20%;
    margin-top: 15%;
}

table#tble_policy_data {
    width: 70%;
    margin-left: 20%;
}

table#prjct_tble_download {
    width: auto;
    margin-left: 25%;
}

.table-bordered {
    border: 1px solid #dee2e6;
    // margin-left: 20%;
    margin-left: 7%;
    margin-top: 1%;
}


h3.attendance_date {
    width: auto;
    margin-left: 0%;
}

h3.etime_sheet {
    margin-left: 0%;
}

a#add_timesheet {
    // margin-left: 20%;
    margin-left: 86%;
    margin-top: 5%;

}

h3.pjt_class {
    margin-left: 25%;
    margin-top: 5%;
}

@mixin width {
    width: auto !important;
}

table {
    &.table-fit {
        @include width;
        table-layout: auto !important;
        thead th, tfoot th  {
            @include width;
        }
        tbody td, tfoot td {
            @include width;
        }
    }
}

p.time_add_page {
    margin-left: 50%;
    margin-top: 10%;
}

h3.plcy_class {
    margin-left: 20%;
    margin-top: 5%;
}

p.plcy_class{
    margin-left: 20%;
    margin-top: 5%;
}
a#calendar_id_list {
    margin-left: 0%;
    margin-top: 3%;
}

table#atten_table_id {
    border: 1px solid #dee2e6;
    margin-left: 0%;
    margin-top: 0%;
}

table#project_tble_id {
    border: 1px solid #dee2e6;
    margin-left: 0%;
    margin-top: 0%;
}
/* new  for dashboard page end here */

h3.pjt_view_class {
    margin-left: 0%;
}


a#project_create_new_btn {
    margin-left: 89%;
    margin-bottom: 1%;
}

select#project_status {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select#project_reporting_manager {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    background: none;
    color: #777777;
    cursor: default;
    /*width: 15.4%;*/
}

h3.user_mgmnt {
    margin-left: 0%;
    margin-top: -2%;
}

a#add_user_mgmnt {
    // margin-left: 20%;
    // margin-left: 86%;
    margin-left: 91%;
    margin-top: 0%;

}

table#user_mgmnt_tble_format {
    margin-top: 1%;
    margin-left: 0%;
}

input#user_management_email{
display: block;
width: 100%;
height: calc(2.25rem + 2px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-sm-1.tble_div {
    margin-left: -5%;
}

select#user_management_email_provider{
    display: block;
    width: 217px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-left: -10%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.add_user_select_mgmnt
{
    margin-left: 0%;
}


select#user_management_sex {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #f3f3f3;
}

.wrapper {
    // position: absolute;
    //margin-top: 25%;
    //margin-left: 50%;
    //transform: translate(-50%, -50%);
    margin-top: 0%;
    margin-left: 15%;
    width: 80%;
    display: flex;
    //box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}

.wrapper .left{
    // width: 35%;
    width: 20%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}

.wrapper .left h4{
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 12px;
}

.wrapper .right{
    width: 65%;
    margin-left: 2%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 30px 25px;
}

.wrapper .right .info,
.wrapper .right{
    margin-bottom: 25px;
}

.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #0e0e0e;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.wrapper .right .info_data{
   // display: flex;
    /*justify-content: space-between;*/
}

// .wrapper .right .info_data{
//     display: flex;
// }


.wrapper .right .info_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}
.wrapper .right .info_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

a.btn.btn-primary.edit_user_mgmnt_check {
    margin-top: 15%;
}

.edit_user_mgmnt_1 {
    margin-left: 1%;
    width: 28%;
}

.user_mgmnt_edit {
    margin-left: 5%;
    width: 788px;
}

select#user_management_gender {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select#user_management_bg_group {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


select#user_management_status {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input#user_management_profile_pictures {
    height: 10%;
}

input#user_management_pan_details {
    height: 100%;
}

input#user_management_aadhar_details {
    height: 100%;
}

input#user_management_education_details {
    height: 100%;
}

input#user_management_experience_details {
    height: 100%;
}

p#notice {
    margin-left: 7%;
}

a.btn.btn-primary.edit_password_change_mgmnt_check {
    margin-top: 10%;
}

a.btn.btn-primary.change_password_user_mgmnt_check {
    margin-top: 2%;
}

h3.change_password_user_mgmnt {
    margin-left: 15%;
    margin-bottom: 3%;
}

input#change_pass_user_btn {
    width: 95%;
    margin-left: 10%;
}

div#changes_pass_form {
    border: 2px solid #425ed9;
    padding-top: 10px;
    width: 30%;
    margin-left: 15%;
    box-shadow: 5px 0px 20px 0px;
}


button#drop_menu_profiles {
    // background-color: #fff;
}

div#up_photo_id {
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
}


ul#menu_side_id {
    width: 120px;
    background-color: #11101d;
    height: 175px;
    border-style: 1px;
    width: 225px;
    height: 122px;
    border: 1px solid #eeeeee;
    box-sizing: inherit;
}


p#notice_id {
    margin-left: 35%;
}

table#ind_all_table_id {
    margin-left: 0%;
}

input#create_user_mnt_new_btn {
    color: #fff;
    margin-left: 0%;
    margin-top: 1%;
    height: 47px;
    width: 45%;
    background-color: #007bff;
    border-color: #007bff;
}

