<div class="nw-attd">
    <h5>Editing Attendance</h5>
</div>

<%= render 'form', attendance: @attendance %>
<div class="btn btn-lg btn-primary btn-block" >
    <%= link_to 'Show', @attendance, class: "btn_edit_back"  %> |
    <%= link_to 'Back', attendances_path, class: "btn_edit_back"  %>
</div>
