<div class="nw-attd">
    <h5>New Attendance</h5>
</div>

<%= render 'form', attendance: @attendance %>
<div class="btn btn-lg btn-primary btn-block" >
<%= link_to 'Back', attendances_path, class: "btn_edit_back" %>
</div>