<p id="notice"><%= notice %></p>


<div class="btn btn-lg btn-primary btn-block" >
    <%= link_to 'Edit', edit_attendance_path(@attendance), class: "btn_edit_back"  %> |
    <%= link_to 'Back', attendances_path, class: "btn_edit_back"  %>
</div>