<div class="nw-attd">
    <h3>Editing Policy</h3>
</div>

<%= render 'form', policy: @policy %>


<div class="btn btn-lg btn-primary btn-block" >
    <%= link_to 'Show', @policy, class: "btn_edit_back" %> |
    <%= link_to 'Back', policies_path, class: "btn_edit_back" %>
</div>
