<div class="nw-prjt">
    <h5>New Policy</h5>
</div>

<%= render 'form', policy: @policy %>

<div class="btn btn-lg btn-primary btn-block" >
<%= link_to 'Back', policies_path, class: "btn_edit_back" %>
</div>